<fieldset>
    <div class="center">
        <%= f.hidden_field :_destroy, id:'ruhroh' %>
        <%= f.hidden_field :name, value: nom%>
        <div class="form-group">
            <%= f.label :years, "Years of Experience:"%>
            <%= f.select :years, 0..40,{}, {class: "chosen-select"}%>
        </div>
        <div class= "form-group">
            <%= f.text_area :description, :rows=> 3, class: "form-control",placeholder: "Brief description of experience in discipline"%>
        </div>
        <div class="form=group">
            <ul id="oneliner">
                <li>
                <%= f.label :portfolio%>
                </li>
                <li>
                <%= f.file_field :portfolio%>
                </li>
            </ul>
        </div>
    </div>
</fieldset>
