<fieldset>
    <div class="center">
        <%= f.hidden_field :_destroy, id:'ruhroh' %>
        <%= f.hidden_field :name, value: nom%>
        <div class="form-group">
            <%= f.select :years, (0..40).to_a.unshift(""),{}, {class: "chosen-select", id:"chooseme","data-placeholder"=>"Years of Experience"}%>
        </div>
        <div class="form-group">
            <%= f.collection_select :skill_ids,Skill.all.to_a.select {|i| i.discipline==nom},:id, :name, {},{"data-placeholder"=>"Select your skills in this discipline",class: "skill-select",multiple:true}%>
        </div>
        <div class= "form-group">
            <%= f.text_area :description, :rows=> 3, class: "form-control",placeholder: "Brief description of experience in discipline"%>
        </div>
        <div class="form=group">
            <%= f.file_field :portfolio%>Upload Portfolio
            <span type="button" class="btn btn-default btn-file">Upload Portfolio</span>
        </div>
    </div>
</fieldset>

<script>
    $(".chosen-select").chosen({width:"200px"});
    $(".skill-select").chosen({width:"95%"});
</script>

