<div class="profile proprev">
    <div id="main-left">
        <fieldset>
            <legend>Provider Details</legend>
            <div class="details-left">
                <%= image_tag provider.avatar.url(:small), class: "show-prof img-circle",width: 200, height: 200%>
            </div>
            <div class="details-right">
                <div class="show-group">
                    <p><%= provider.name.titleize%></p>
                </div>
                <div class="show-group">
                    <p>
                    <%if !(provider.city.nil? or provider.city.empty?) and !provider.state.nil?%>
                        <span><%=provider.city%>, <%=provider.state%></span>
                    <%else%>
                        <span<%=(provider.state||provider.city)%></span>
                    <%end%>
                    </p>
                </div>
                <div class="show-group">
                    <p>
                    <%=link_to linkerate(provider.website), 
                        'http://www.'+linkerate(provider.website)%></p>
                    </div>
                    <div class="show-group">
                        <p><%= provider.ptype.titleize%></p>
                    </div>
                </div>
                <div class="clear"></div>
                <p><%=provider.description%></p>
                <%unless provider.linkedin == "" or provider.linkedin == nil%>
                    <a href=<%='http://www.'+linkerate(provider.linkedin)%> target='_blank' class="btn btn-social btn-linkedin"><i class="fa fa-linkedin"></i>Linkedin Profile</a>
                <%end%>
                <%if provider.resume.to_s.split('/')[-1]!="missing.png"%>
                    <a href="#" class="btn btn-social btn-linkedin" data-toggle="modal" data-target="#show-resume-prev"><i class="fa fa-file-text-o"></i><%=file_by_ptype(provider.ptype)%></a>
                    <%=render partial: 'providers/resume', :locals=>{:resume_url=> provider.resume.to_s,:ptype=>provider.ptype,:j_select=>true, :num=>num}%>
                <%end%>
            </fieldset>
            <fieldset>
                <legend>Experience in <%=job.discipline%></legend>
                <p> Years of Experience: <%=provider.disciplines.where("name LIKE ?",job.discipline).first.years%></p>
                <p><%=provider.name%>'s skills in <%=@job.discipline%> are <%=provider.disciplines.where("name LIKE ?",job.discipline).first.skills.pluck("name")[0..-2]*", "%>, and <%=provider.disciplines.where("name LIKE ?",job.discipline).first.skills.pluck("name")[-1]%>.</p>
                <%unless provider.disciplines.where("name LIKE ?",job.discipline).first.portfolio.to_s.split('/')[-1]=="missing.png"%>

                <%end%>
            </fieldset>
            <fieldset>
                <legend>Project Statistics</legend>
                <p>Projects completed: <%=provider.jobs.size%></p>
                <p>Projects completed in <%=@job.discipline%>: <%=provider.jobs.where(:discipline=>job.discipline).size%></p>
            </fieldset>
        </div>
        <div id="main-right">
            <%unless provider.ptype=="agency"%>
                <!--
                <fieldset>
                    <legend>Past Jobs</legend>
                    <table cellspacing="15" cellpadding="10" >

                        <tr><th><span style="float:center;">Employer</span></th><th></th><th><span style="float:center;">Position</span></th></tr>
                        <%provider.pastjobs.each do |j|%>
                            <tr><td><span><%=j.pj_employer.strip.gsub(/\n/,"")%></span></td><td></td><td><span><%=j.pj_position.strip.gsub(/\n/,"")%></span></td></tr>
                        <%end%>
                    </table>
                </fieldset>
                -->
            <%end%>
            <fieldset>
                <legend>Availability</legend>
                <%unless provider.begin==nil or provider.end==nil%>
                    <p>Available from <%=maketime(provider.begin.to_s.split(' ')[1][0..4])%> to <%=maketime(provider.end.to_s.split(' ')[1][0..4])%></p>
                <%end%>
            </fieldset>
            <fieldset>
                <legend>Provider Scores</legend>
                <table cellspacing="5" cellpadding="5">
                    <tr><td valign="top"><b>Across All Jobs</b></td><td></td><td style="width:250px!important;">
                            <%(1..get_overall(provider).divmod(1)[0]).each do |n|%>
                                <i class="fa fa-star fa-lg"></i>
                            <%end%>
                            <%if get_overall(provider).divmod(1)[1] == 0.5%>
                                <i class="fa fa-star-half-full fa-lg"></i>
                            <%end%>
                            <%(1..(9-get_overall(provider).ceil)).each do |n|%>
                                <i class="fa fa-star-o fa-lg"></i>
                            <%end%>
                        </td>
                    </tr>
                    <tr><td valign="top"><b>Across jobs in <%=@job.discipline%></b></td><td></td><td>
                            <%(1..get_overall(provider).divmod(1)[0]).each do |n|%>
                                <i class="fa fa-star fa-lg"></i>
                            <%end%>
                            <%if get_overall(provider).divmod(1)[1] == 0.5%>
                                <i class="fa fa-star-half-full fa-lg"></i>
                            <%end%>
                            <%(1..(9-get_overall(provider).ceil)).each do |n|%>
                                <i class="fa fa-star-o fa-lg"></i>
                            <%end%>
                        </td>
                    </tr>
                </table>

            </fieldset>
            <fieldset>
                <legend>Attribute Scores</legend>
                <table cellspacing="5" cellpadding="5">
                    <%get_idealattributes.each do |attribute|%>
                        <tr><td valign="top" align="right"><b><%=attribute+":"%></b></td><td></td><td><div class="ratingwrap"><div style="width:<%=16*eval("provider.provider_meta.#{attribute.split[0].downcase}")%>px;" class="rating"><span><%=eval("provider.provider_meta.#{attribute.split[0].downcase}").round(1)%></span></div></div></td></tr>
                    <%end%>
                </table>
            </fieldset>
            <fieldset>
                <legend>Badges Earned</legend>
                <%get_badges.keys().sample(4).each do |name|%>
                    <span class="badge btn-social-icon btn-vimeo" data-toggle="tooltip" data-placement="bottom" title='<%=get_badge(name)[0].split(":")[0]%>'><i class="fa fa-<%=get_badge(name)[1]%>"></i></span>
                <%end%>
            </fieldset>
            <fieldset>
                <legend>Testimonials</legend>
                <p>"Really quality work. Got the job done with speed and precision."</p>
            </fieldset>
        </div>
        <div class="clear"></div>
    </div>
<script>
    $(".badge").tooltip({container: 'body'});
     $(this).closest(".modal-dialog").find(".modal-header .close, .modal-footer button").click(function () {
        $(this).closest(".modal-dialog").find(".modal-header button").trigger("click");
    });
</script>
<style>
    .tooltip {
        z-index: 1000000000000;
    }
   
</style>
