<%provide(:title, @provider.name) %>

<div class="profile">
    <div id="main-left">
        <fieldset>
            <legend>Provider Details</legend>
            <div class="details-left">
                <%= image_tag @provider.avatar.url(:small), class: "show-prof img-circle",width: 200, height: 200%>
            </div>
            <div class="details-right">
                <div class="show-group">
                    <p><%= @provider.name.titleize%></p>
                </div>
                <div class="show-group">
                    <p>
                    <%if !(@provider.city.nil? or @provider.city.empty?) and !@provider.state.nil?%>
                        <span><%=@provider.city%>, <%=@provider.state%></span>
                    <%else%>
                        <span<%=(@provider.state||@provider.city)%></span>
                    <%end%>
                    </p>
                </div>
                <div class="show-group">
                    <p>
                    <%=link_to linkerate(@provider.website), 
                        'http://www.'+linkerate(@provider.website)%></p>
                    </div>
                    <div class="show-group">
                        <p><%= @provider.ptype.titleize%></p>
                    </div>
                </div>
                <div class="clear"></div>
                <p><%=@provider.description%></p>
                <%unless @provider.linkedin == "" or @provider.linkedin == nil%>
                    <a href=<%='http://www.'+linkerate(@provider.linkedin)%> class="btn btn-social btn-linkedin"><i class="fa fa-linkedin"></i>Linkedin Profile</a>
                <%end%>
                <%if @provider.resume.to_s.split('/')[-1]!="missing.png"%>
                    <a href="#" class="btn btn-social btn-linkedin" data-toggle="modal" data-target="#show-resume-prev"><i class="fa fa-file-text-o"></i>Resum&eacute;</a>
                    <%=render partial: 'providers/resume', :locals=>{:resume_url=> @provider.resume.to_s}%>
                <%end%>
            </fieldset>
            <fieldset>
                <%if current_user.is_a? Client%>
                    <legend>Experience in Job Discipline</legend>
                <%else%>
                    <legend>Provider Disciplines</legend>
                    <table>
                        <tr>
                            <th><span style="display: inline-block; width:240px;">Discipline</span></th>
                            <th><span>Portfolio Uploaded?</span></th>
                        </tr>
                        <%@provider.disciplines.select{|a| a.name.split()[0]!="Temp"}.each_with_index do |discipline,i|%>
                        <tr>
                            <td style="width:350px;"><span style="display: inline-block; width: 300px;"><%=discipline.name%>: <%=pluralize(discipline.years,"year")%> exp.</span></td>
                            <%if discipline.portfolio.to_s.split('/')[-1]!="missing.png"%>
                                <td><span style="margin-left: 35px; color: rgb(161, 196, 54);" class=" fa fa-check"></span></td>

                            <%else%>
                                <td><span style="margin-left: 35px; color: rgb(169, 7, 30);" class="fa fa-times"></span></td>

                            <%end%>


                        </tr>
                                <%discipline.skills.each do |skill|%>
                                    <tr><td><small><%=skill.name%></small></td></tr>
                                <%end%>
                            <%if i!=@provider.disciplines.select{|a| a.name.split()[0]!="Temp"}.length-1%>
                                <tr><td><hr></hr></td></tr>
                            <%end%>
                    <%end%>
                    </table>
                <%end%>
            </fieldset>
            <fieldset>
                <legend>Testimonials</legend>
                <p>"Really quality work. Got the job done with speed and precision."</p>
            </fieldset>
        </div>
        <div id="main-right">
            <fieldset>
                <legend>Availability</legend>
                <%unless @provider.begin==nil or @provider.end==nil%>
                    <p>Available from <%=maketime(@provider.begin.to_s.split(' ')[1][0..4])%> to <%=maketime(@provider.end.to_s.split(' ')[1][0..4])%></p>
                <%end%>
            </fieldset>
            <fieldset>
                <legend>Overall Ranking</legend>
                <table cellspacing="5" cellpadding="5">
                    <tr><td valign="top"><b>Across All Jobs</b></td><td></td><td>
                            <%(1..7.5.divmod(1)[0]).each do |n|%>
                                <i class="fa fa-star fa-lg"></i>
                            <%end%>
                            <%if 7.5.divmod(1)[1] == 0.5%>
                                <i class="fa fa-star-half-full fa-lg"></i>
                            <%end%>
                            <%(1..(8-7.5.ceil)).each do |n|%>
                                <i class="fa fa-star-o fa-lg"></i>
                            <%end%>
                        </td>
                    </tr>
                </table>

            </fieldset>
            <fieldset>
                <legend>Attribute Scores</legend>
                <table cellspacing="5" cellpadding="5">


                    <tr><td valign="top"><b>Timeliness</b></td><td></td><td>8/10</td></tr>

                    <tr><td valign="top"><b>Responsiveness</b></td ><td ></td><td>7/10</td></tr>
                        <tr><td valign="top"><b>Budget</b></td><td></td><td>9/10</td></tr>
                        <tr><td valign="top"><b>Knowledge</b></td><td></td><td>7/10</td></tr>
                        <tr><td valign="top"><b>Quality of Work</b></td><td></td><td>5/10</td></tr>
                        <tr><td valign="top"><b>Professionalism</b></td><td></td><td>7/10</td></tr>
                        <tr><td valign="top"><b>Likeability</b></td><td></td><td>7/10</td></tr>
                    </table>
                </fieldset>
                <fieldset>
                    <legend>Badges Earned</legend>
                    <span class="badge btn-social-icon btn-vimeo" data-toggle="tooltip" data-placement="bottom" title="Most Improved">
                        <i class="fa fa-signal"></i>
                    </span>
                    <span class="badge btn-social-icon btn-google" data-toggle="tooltip" data-placement="bottom" title="Mr. Consistency">
                        <i class="fa fa-thumbs-up"></i>
                    </span>
                    <span class="badge btn-social-icon btn-openid" data-toggle="tooltip" data-placement="bottom" title="Mr. Likeable">
                        <i class="fa fa-beer"></i>
                    </span>
                    <span class="badge btn-social-icon btn-soundcloud" data-toggle="tooltip" data-placement="bottom" title="Assist Expert">
                        <i class="fa fa-life-saver"></i>
                    </span>

                </fieldset>
                <fieldset>
                    <legend>Project Statistics</legend>
                    <span>Projects completed: 15</span>
                    <%if current_user.is_a? Client%>
                        <span>Projects completed in your industry: 7</span>
                    <%end%>
                </fieldset>
            </div>
            <div class="clear"></div>
            <div class="prof-buttons">
                <ul>
                    <% if user_signed_in? and current_user.is_a? Provider%> 
                        <li>
                        <button type="button" class= 'profilebutton' class="btn btn-default"><%=link_to "Edit Profile", edit_provider_path(current_user.id)%></button>
                        </li>
                        <li>
                        <button type="button" class= 'profilebutton' class="btn btn-default"><%=link_to "Edit Registration", edit_provider_registration_path(current_user.id)%></button>
                        </li>
                    <%end%>
                </ul>
            </div>
        </div>
