<%provide(:title, @provider.name) %>

<div class="profile">
    <div id="main-left">
        <fieldset>
            <legend>Provider Details</legend>
            <div class="details-left">
                <%= image_tag @provider.avatar.url(:small), class: "show-prof img-circle",width: 200, height: 200%>
            </div>
            <div class="details-right">
                <div class="show-group">
                    <p><%= @provider.name.titleize%></p>
                </div>
                <div class="show-group">
                    <p>
                    <%if !(@provider.city.nil? or @provider.city.empty?) and !@provider.state.nil?%>
                        <span><%=@provider.city%>, <%=@provider.state%></span>
                    <%else%>
                        <span<%=(@provider.state||@provider.city)%></span>
                    <%end%>
                    </p>
                </div>
                <div class="show-group">
                    <p>
                    <%=link_to @provider.website, 
                        'http://www.'+@provider.website%></p>
                    </div>
                    <div class="show-group">
                        <p><%= @provider.ptype.titleize%></p>
                    </div>
                </div>
                <div class="clear"></div>
                <p><%=@provider.description%></p>
                <%if @provider.linkedin != ""%>
                    <a href=<%='http://www.'+linkerate(@provider.linkedin)%> class="btn btn-social btn-linkedin"><i class="fa fa-linkedin"></i>Linkedin Profile</a>
                <%end%>
                <%if @provider.resume.to_s.split('/')[-1]!="missing.png"%>
                    <a href="#" class="btn btn-social btn-linkedin" data-toggle="modal" data-target="#resume-prev"><i class="fa fa-file-text-o"></i>Resum&eacute;</a>
                    <%=render partial: 'providers/resume', :locals=>{:resume_url=> @provider.resume.to_s}%>
                <%end%>
            </fieldset>
            <fieldset>
                <%if current_user.is_a? Client%>
                    <legend>Experience in Job Discipline</legend>
                <%else%>
                    <legend>Provider Disciplines</legend>
                    <%@provider.disciplines.each do |discipline|%>
                        <span><%=discipline.name%>, <%=pluralize(discipline.years,"year")%> of experience</span>
                        <%end%>
                <%end%>
            </fieldset>
            <fieldset>
                <legend>Testimonials</legend>
                <p>"Really quality work. Got the job done with speed and precision."</p>
            </fieldset>
        </div>
        <div id="main-right">
            <fieldset>
                <legend>Availability</legend>
                <p>Available from <%=maketime(@provider.begin.to_s.split(' ')[1][0..4])%> to <%=maketime(@provider.end.to_s.split(' ')[1][0..4])%></p>
            </fieldset>
            <fieldset>
                <legend>Overall Ranking</legend>
                <table cellspacing="5" cellpadding="5">
                    <tr><td valign="top"><b>Across All Jobs</b></td><td></td><td>
                            <%(1..7.5.divmod(1)[0]).each do |n|%>
                                <i class="fa fa-star fa-lg"></i>
                            <%end%>
                            <%if 7.5.divmod(1)[1] == 0.5%>
                                <i class="fa fa-star-half-full fa-lg"></i>
                            <%end%>
                            <%(1..(8-7.5.ceil)).each do |n|%>
                                <i class="fa fa-star-o fa-lg"></i>
                            <%end%>
                        </td>
                    </tr>
                </table>

            </fieldset>
            <fieldset>
                <legend>Attribute Scores</legend>
                <table cellspacing="5" cellpadding="5">


                    <tr><td valign="top"><b>Timeliness</b></td><td></td><td>8/10</td></tr>

                    <tr><td valign="top"><b>Responsiveness</b></td ><td ></td><td>7/10</td></tr>
                        <tr><td valign="top"><b>Budget</b></td><td></td><td>9/10</td></tr>
                        <tr><td valign="top"><b>Knowledge</b></td><td></td><td>7/10</td></tr>
                        <tr><td valign="top"><b>Quality of Work</b></td><td></td><td>5/10</td></tr>
                        <tr><td valign="top"><b>Professionalism</b></td><td></td><td>7/10</td></tr>
                        <tr><td valign="top"><b>Likeability</b></td><td></td><td>7/10</td></tr>
                    </table>
                </fieldset>
                <fieldset>
                    <legend>Badges Earned</legend>
                    <span class="badge btn-social-icon btn-vimeo" data-toggle="tooltip" data-placement="bottom" title="Most Improved">
                        <i class="fa fa-signal"></i>
                    </span>
                    <span class="badge btn-social-icon btn-google" data-toggle="tooltip" data-placement="bottom" title="Mr. Consistency">
                        <i class="fa fa-thumbs-up"></i>
                    </span>
                    <span class="badge btn-social-icon btn-openid" data-toggle="tooltip" data-placement="bottom" title="Mr. Likeable">
                        <i class="fa fa-beer"></i>
                    </span>
                    <span class="badge btn-social-icon btn-soundcloud" data-toggle="tooltip" data-placement="bottom" title="Assist Expert">
                        <i class="fa fa-life-saver"></i>
                    </span>

                </fieldset>
                <fieldset>
                    <legend>Project Statistics</legend>
                    <span>Projects completed: 15</span>
                    <%if current_user.is_a? Client%>
                        <span>Projects completed in your industry: 7</span>
                    <%end%>
                </fieldset>
            </div>
            <div class="clear"></div>
            <div class="prof-buttons">
                <ul>
                    <% if user_signed_in? and current_user.is_a? Provider%> 
                        <li>
                        <button type="button" class= 'profilebutton' class="btn btn-default"><%=link_to "Edit Profile", edit_provider_path(current_user.id)%></button>
                        </li>
                        <li>
                        <button type="button" class= 'profilebutton' class="btn btn-default"><%=link_to "Edit Registration", edit_provider_registration_path(current_user.id)%></button>
                        </li>
                    <%end%>
                </ul>
            </div>
        </div>

        <%if false%>
            <div class="profile">
                <div id="main-left">
                    <fieldset>
                        <legend>Company Details</legend>
                        <div class="details-left">
                            <%= image_tag @client.avatar.url(:small), class: "show-prof img-circle",width: 200, height: 200%>

                        </div>
                        <div class="details-right">
                            <div class="show-group">
                                <p><%= @client.name.titleize%></p>
                            </div>
                            <div class="show-group">
                                <p>
                                <%if !(@client.city.nil? or @client.city.empty?) and !@client.state.nil?%>
                                    <span><%=@client.city%>, <%=@client.state%></span>
                                <%else%>
                                    <span<%=(@client.state||@client.city)%></span>
                                <%end%>
                                </p>
                            </div>
                            <div class="show-group">
                                <p>
                                <%=link_to @client.website, 
                                    'http://www.'+@client.website%></p>
                                </div>
                                <div class="show-group">
                                    <p><%= @client.industry.titleize%></p>
                                </div>

                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Company Description</legend>
                            <div class="show-group">
                                <p><%=@client.description%></p>
                            </div>
                        </fieldset>
                    </div>
                    <div id="main-right">
                        <fieldset>
                            <legend>Project Stats</legend>
                            <table cellspacing="5" cellpadding="5">


                                <tr><td valign="top"><b>#Projects Completed</b></td><td></td><td>16</td></tr>
                                <%if current_user.is_a? Client%>
                                    <tr><td valign="top"><b>#Projects Completed in Discipline</b></td><td></td><td>7</td></tr>
                                <%end%>

                            </table>
                        </fieldset>
                        <fieldset>
                            <legend>Provider Score</legend>
                            <table cellspacing="5" cellpadding="5">
                                <tr><td valign="top"><b>Across All Jobs</b></td><td></td><td>
                                        <%(1..3.5.divmod(1)[0]).each do |n|%>
                                            <i class="fa fa-star fa-lg"></i>
                                        <%end%>
                                        <%if 3.5.divmod(1)[1] == 0.5%>
                                            <i class="fa fa-star-half-full fa-lg"></i>
                                        <%end%>
                                        <%(1..(5-3.5.ceil)).each do |n|%>
                                            <i class="fa fa-star-o fa-lg"></i>
                                        <%end%>
                                    </td>
                                </tr>
                            </table>


                        </fieldset>
                        <fieldset>
                            <legend>Attribute Scores</legend>
                            <table cellspacing="5" cellpadding="5">


                                <tr><td valign="top"><b>Responsiveness</b></td><td></td><td>8/10</td></tr>

                                <tr><td valign="top"><b>Expectations</b></td ><td ></td><td>7/10</td></tr>
                                    <tr><td valign="top"><b>Scope of Work</b></td><td></td><td>9/10</td></tr>
                                    <tr><td valign="top"><b>Payment</b></td><td></td><td>7/10</td></tr>
                                    <tr><td valign="top"><b>Professionalism</b></td><td></td><td>5/10</td></tr>
                                    <tr><td valign="top"><b>Likeability</b></td><td></td><td>7/10</td></tr>


                                </table>
                            </fieldset>
                        </div>
                        <div class="clear"></div>
                        <div class="prof-buttons">
                            <ul>
                                <% if user_signed_in?%> 
                                    <li>
                                    <button type="button" class= 'profilebutton' class="btn btn-default"><%=link_to "Edit Profile", edit_client_path(current_user.id)%></button>
                                    </li>
                                    <li>
                                    <button type="button" class= 'profilebutton' class="btn btn-default"><%=link_to "Edit Registration", edit_client_registration_path(current_user.id)%></button>
                                    </li>
                                <%end%>
                            </ul>
                        </div>

                    </div>
                    <div class='center'>
                        <button type="button" id = "jobbutton"class="btn btn-default"><%= link_to "Post A Job", new_client_job_path(current_user.id)%></button>
                    </div>

                    <div id="ProfilePage">
                        <div id="LeftCol">
                            <div id="Photo">
                                <%= image_tag @provider.avatar.url(:small), id: "prof", class: "img-circle", width: 200, height: 200%>
                            </div>
                            <div id="ProfileOptions">
                                <ul id="namelist">
                                    <li>
                                    <h1> 
                                        <%= @provider.name.titleize %>
                                    </h1>
                                    </li>

                                    <% if user_signed_in? %> 
                                        <li>
                                        <button type="button" id= 'profilebutton' class="btn btn-default"><%=link_to "Edit Profile", edit_provider_path(current_user.id)%></button>
                                        </li>
                                        <li>
                                        <button type="button" id= 'profilebutton' class="btn btn-default"><%=link_to "Edit Registration", edit_provider_registration_path(current_user.id)%></button>
                                        </li>
                                    <%end%>
                                </ul>
                            </div>
                        </div>
                        <div id="Info">
                            <p>
                            <strong>Ranking:</strong>
                            <button id="rankbutton" class= "btn btn-primary"><span type="btn btn-primary"> 9.2 / 10 </span></button>
                            </p>

                            <legend>Provider Details</legend>
                            <p>
                            <span><%=@provider.email%></span>
                            </p>
                            <p>
                            <%if !(@provider.city.nil? or @provider.city.empty?) and (!@provider.state.nil?)%>
                                <span><%=@provider.city%>, <%=@provider.state%></span>
                            <%else%>
                                <span><%=(@provider.state||@provider.city)%></span>
                            <%end%>
                            </p>
                            <p>
                            <%unless @provider.linkedin.nil?%>
                                <span><%=link_to @provider.linkedin, 
                                    'http://www.'+@provider.linkedin%></span>
                                </p>
                            <%end%>
                            <p>
                            <legend>Provider Description</legend>
                            <span><%=@provider.description%></span>
                            </p>


                        </div>
                        <!-- Needed because other elements inside ProfilePage have floats -->
                        <div style="clear:both"></div>
                        <div id="statsbox">
                            <legend> Project Stats</legend>
                            <p>
                            <span> Projects Completed: </span>
                            </p>
                        </div>

                    </div>
                    <div class='center'>
                        <button type="button" id = "jobbutton"class="btn btn-default"><%= link_to "Active Jobs", '#'%></button>
                    </div>
                    <%if false%>
                        <%@provider.disciplines.each do |discipline|%>
                            <span>name: <%=discipline.name%></span>
                            <span>years: <%=discipline.years%></span>
                            <span>exp: <%=discipline.description%></span>
                        <%end%>
                    <%end%>
                <%end%>
