<%provide(:title, @provider.name) %>

<div class="profile">
    <div id="main-left">
        <fieldset>
            <legend>Provider Details</legend>
            <div class="details-left">
                <%= image_tag @provider.avatar.url(:small), class: "show-prof img-circle",width: 200, height: 200%>
            </div>
            <div class="details-right">
                <div class="show-group">
                    <p><%= @provider.name.titleize%></p>
                </div>
                <div class="show-group">
                    <p>
                    <%if !(@provider.city.nil? or @provider.city.empty?) and !@provider.state.nil?%>
                        <span><%=@provider.city%>, <%=@provider.state%></span>
                    <%else%>
                        <span<%=(@provider.state||@provider.city)%></span>
                    <%end%>
                    </p>
                </div>
                <div class="show-group">
                    <p>
                    <%=link_to linkerate(@provider.website), 
                        'http://www.'+linkerate(@provider.website)%></p>
                    </div>
                    <div class="show-group">
                        <p><%= @provider.ptype.titleize%></p>
                    </div>
                </div>
                <div class="clear"></div>
                <p><%=@provider.description%></p>
                <%unless @provider.linkedin == "" or @provider.linkedin == nil%>
                    <a href=<%='http://www.'+linkerate(@provider.linkedin)%> class="btn btn-social btn-linkedin"><span class="fa fa-linkedin"></span><span>Linkedin Profile</span></a>
                <%end%>
                <%if @provider.resume.to_s.split('/')[-1]!="missing.png"%>
                    <a href="#" class="btn btn-social btn-linkedin" data-toggle="modal" data-target="#show-resume-prev"><i class="fa fa-file-text-o"></i><%=file_by_ptype(@provider.ptype)%></a>
                    <%=render partial: 'providers/resume', :locals=>{:resume_url=> @provider.resume.to_s,:ptype=>@provider.ptype}%>
                <%end%>
            </fieldset>
            <fieldset>
                <%if current_user.is_a? Client%>
                    <legend>Experience in Job Discipline</legend>
                <%else%>
                    <legend>Provider Disciplines</legend>
                    <%unless @provider.disciplines.empty?%>
                    <table>
                        <tr>
                            <th><span style="display: inline-block; width:240px;">Discipline</span></th>
                            <th><span>Portfolio Uploaded?</span></th>
                        </tr>
                        <%@provider.disciplines.select{|a| a.name.split()[0]!="Temp"}.each_with_index do |discipline,i|%>
                            <tr>
                                <td style="width:350px;"><span style="display: inline-block; width: 300px;"><%=discipline.name%>: <%=pluralize(discipline.years,"year")%> exp.</span></td>
                                <%if discipline.portfolio.to_s.split('/')[-1]!="missing.png"%>
                                    <td><span style="margin-left: 35px; color: rgb(161, 196, 54);" class=" fa fa-check"></span></td>

                                <%else%>
                                    <td><span style="margin-left: 35px; color: rgb(169, 7, 30);" class="fa fa-times"></span></td>

                                <%end%>


                            </tr>
                            <%discipline.skills.each do |skill|%>
                                <tr><td><small><%=skill.name%></small></td></tr>
                            <%end%>
                            <%if i!=@provider.disciplines.select{|a| a.name.split()[0]!="Temp"}.length-1%>
                                <tr><td><hr></hr></td></tr>
                            <%end%>
                        <%end%>
                    </table>
                    <%else%>
                        We will not suggest your services to clients until you have selected at least one discipline. Please do so <%=link_to "here", edit_provider_path(current_user.id)%> 
                    <%end%>
                    <%end%>
            </fieldset>

            <fieldset>
                <legend>References</legend>
                <%unless @provider.references.empty?%>
                    <table cellspacing='15'>
                        <tr><th>Reference</th><th></th><th>Employer</th></tr>
                        <%@provider.references.each do |ref|%>
                            <tr><td><%=ref.ref_name%></td><td style="width:20px;"></td><td><%=ref.ref_company%></td></tr>
                        <%end%>
                    </table>
                <%else%>
                    <p> Clients are much more likely to award you with jobs if you have references. Please add them <%=link_to "here", edit_provider_path(current_user.id)%>.</p>
                <%end%>
            </fieldset>
            <fieldset>
                <legend>Testimonials</legend>
                <p>"Really quality work. Got the job done with speed and precision."</p>
            </fieldset>
        </div>
        <div id="main-right">
            <%unless @provider.ptype=="agency"%>
                <fieldset>
                    <legend>Past Jobs</legend>
                    <table cellspacing="15">
                        <%unless @provider.pastjobs.empty?%>
                            <tr><th>Employer</th><th></th><th>Position</th></tr>
                            <%@provider.pastjobs.each do |j|%>
                                <tr><td><%=j.pj_employer%></td><td style="width:20px;"></td><td><%=j.pj_position%></td></tr>
                            <%end%>
                        <%else%>
                            <p> Clients are much more likely to award you with jobs if you share your work history. Please do so <%=link_to "here", edit_provider_path(current_user.id)%>.</p>
                        <%end%>
                    </table>
                </fieldset>
            <%end%>
            <fieldset>
                <legend>Availability</legend>
                <%unless @provider.begin==nil or @provider.end==nil%>
                    <p>Available from <%=maketime(@provider.begin.to_s.split(' ')[1][0..4])%> to <%=maketime(@provider.end.to_s.split(' ')[1][0..4])%></p>
                <%end%>
            </fieldset>
            <fieldset>
                <legend>Overall Ranking</legend>
                <table cellspacing="5" cellpadding="5">
                    <tr><td valign="top"><b>Across All Jobs</b></td><td></td><td>
                            <%(1..7.5.divmod(1)[0]).each do |n|%>
                                <i class="fa fa-star fa-lg"></i>
                            <%end%>
                            <%if 7.5.divmod(1)[1] == 0.5%>
                                <i class="fa fa-star-half-full fa-lg"></i>
                            <%end%>
                            <%(1..(8-7.5.ceil)).each do |n|%>
                                <i class="fa fa-star-o fa-lg"></i>
                            <%end%>
                        </td>
                    </tr>
                </table>

            </fieldset>
            <fieldset>
                <legend>Attribute Scores</legend>
                <table cellspacing="5" cellpadding="5">
                    <%["Timeliness","Responsiveness","Knowledge","Quality of Work","Professionalism","Likeability"].each do |attribute|%>
                        <tr><td valign="top" align="right"><b><%=attribute+":"%></b></td><td></td><td><div class="ratingwrap"><div style="width:<%=16*(6..10).to_a.sample%>px;" class="rating"></div></div></td></tr>
                    <%end%>
                </table>
            </fieldset>
            <fieldset>
                <legend><span>Badges Earned</span><span style="margin-bottom:-7px;margin-left:+20px;margin-right:-20px;" class="badge btn-social-icon" data-toggle="tooltip" data-placement="right" title= "Badges are awarded monthly and can be awarded more than once"><i class="fa fa-question fa-2x"></i></span></legend>
                <%get_badges.keys().sample(4).each do |name|%>
                    <span class="badge btn-social-icon btn-vimeo" data-toggle="tooltip" data-placement="bottom" title='<%=get_badge(name)[0]%>'><i class="fa fa-<%=get_badge(name)[1]%>"></i></span>
                <%end%>
            </fieldset>

            <fieldset>
                <legend>Project Statistics</legend>
                <span>Projects completed: 15</span>
            </fieldset>
        </div>
        <div class="clear"></div>
        <div class="prof-buttons">
            <ul>
                <% if user_signed_in? and current_user.is_a? Provider%> 
                    <li>
                    <button type="button" class="btn btn-default"><%=link_to "Edit Profile", edit_provider_path(current_user.id)%></button>
                    </li>
                    <li>
                    <button type="button" class="btn btn-default"><%=link_to "Edit Registration", edit_provider_registration_path(current_user.id)%></button>
                    </li>
                <%end%>
            </ul>
        </div>
    </div>
