<h1>Populate Your Profile</h1>
<div id="popform" class= 'center'>
    <div class="row">
        <aside class="span4">
        <section>
        <%= image_tag @user.avatar.url %>
        <h1> 
            <%= @user.name %>
        </h1>
        </section>
        </aside>
    </div>
</div>
<div id='usereditform' class= 'center'>
    <%= form_for(resource, as: @user, url: registration_path(@user), html: { method: :put }) do |f| %>
        
        <div class="form-group">
            <%= f.label :avatar%>
            <%= f.file_field :avatar%>
        </div>
        <div class="form-group">
            <%= f.label :industry%>
            <%= f.select :industry, [['Please select an industry',nil],'Professional Services','Graphic Design','Marketing','Web Development'], class: 'form-control'%>
        </div>
        <div class= "form-group">
            <%= f.text_field :city, class: 'form-control', autofocus: true, placeholder: 'City'%>
        </div>
        <div class="form-group">
            <%= f.label :state%>
            <%= f.select :state, options_for_select(us_states, "CA"), class: 'form-control'%>
        </div>
        <div class="form-group">
            <%= f.text_field :website, class: 'form-control', autofocus: true, placeholder: 'Website (if applicable)'%>
        </div>
        <div class= "form-group">
            <%= f.text_field :description, class: 'form-control', id: 'dfield', autofocus:true,placeholder: 'Description' %>
        </div>
        <div class= "form-group">
            <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
        </div>
    <% end%>
</div>
