
<div class="modal fade why" id="statistics" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-mockups" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel-mockups">Full Analysis</h4>
            </div>
            <div class="modal-body" style="padding-top:0px!important;">
                <table style="margin:auto!important; margin-top:40px!important;" cellpadding="25">
                    <tr>
                        <td></td>
                        <%providers[0].each do |provider|%>
                            <td>
                                <%= image_tag provider.avatar.url(:small), class: "show-prof img-circle",width: 200, height: 200%>
                                <%[provider.name,provider.city.titleize+", "+provider.state,provider.ptype.titleize].each do |text|%>
                                    <span><%=text%></span><br/>
                                <%end%>
                            </td>
                        <%end%>
                    </tr>
                    <tr>
                        <td> <p>Why we think this provider's right for you?</p></td>
                        <%providers[0].each do |provider|%>
                            <td>
                                <table style="margin:auto!important;">
                                    <%get_best_three(provider).each do |attribute|%>
                                        <tr><td><span class="btn blueb attrbtn" style="width:175px;" data-toggle="tooltip"><%=attribute%> | <%=eval("provider.provider_meta.#{attribute.split[0].downcase}")%></span></td></tr>
                                    <%end%>
                                </table>
                            </td>
                        <%end%>

                    </tr>
                    <tr>
                        <td> <p>Potential drawbacks...</p></td>
                        <%providers[0].each do |provider|%>
                            <td>
                                <table style="margin:auto!important;">
                                    <%get_worst_three(provider).each do |attribute|%>
                                        <tr><td><span class="btn blueb attrbtn" style="width:175px;"><%=attribute%> | <%=eval("provider.provider_meta.#{attribute.split[0].downcase}")%></span></td></tr>
                                    <%end%>
                                </table>
                            </td>
                        <%end%>
                    </tr>

                    <tr>
                        <td> 
                            <p>Validation of the skills required for your job</p>
                            <table>
                                <%job.skills.pluck("name").each do |skl|%>
                                    <tr><td><p align="right"><%=skl%></p></td></tr>
                                <%end%>
                            </table>

                        </td>
                        <%providers[0].each do |provider|%>
                            <td>
                                <div style="height:61px;"></div>
                                <table style="margin-left: 80px;">
                                    <%job.skills.pluck("name").each do |skl|%>
                                        <tr><td><p class="fa fa-<%=((provider.disciplines.where(:name=>job.discipline).first.skills.pluck("name")).include? skl) ? "check":"times"%> fa-2x" style="margin-bottom:8px!important; color:<%=((provider.disciplines.where(:name=>job.discipline).first.skills.pluck("name")).include? skl) ? "rgb(161, 196, 54);":"rgb(169,7,30);"%>" ></p></td></tr>
                                    <%end%>
                                </table>
                            </td>
                        <%end%>

                    </tr>
                </table>
                <table>
                    <tr>
                        <td><p>Provider Performance over time</td>
                        <td style="width: 1010px!important">
                            <%=line_chart [
                                {name: providers[0][0].name, data: get_graph_data(providers[0][0])},
                                {name: providers[0][1].name, data: get_graph_data(providers[0][1])},
                                {name: providers[0][2].name, data: get_graph_data(providers[0][2])},
                                {name: providers[0][3].name, data: get_graph_data(providers[0][3])}
                            ]%>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
