<div id="createsheet3" class="center">
    <%=nested_form_for [current_user,@job], :html=> {:class=> 'jaxForm form-horizontal flp', :role=>'form',:id=>"j-create"},:method=>"POST" do |f|%>
        <div id="whichprev" style="visibility:hidden;"></div>
        <ul id="progressbar" class="p5">
            <li class="active">Job Details</li>
            <li>Provider Details</li>
            <li>Job Timeline</li>
            <li>Provider Tier</li>
            <li>Post Job</li>
        </ul>
        <fieldset class="sf">
            <div class="form-group">
                <legend>
                    <span>Job Details</span>
                </legend>
            </div>
            <div class="form-group sfield input-group">
                <%=f.text_field :name, id: "jobname",class: "tooltipfield form-control sfield" %>
                <label for="jobname" class="sfield">Project Name</label>
                <span class="btn input-group-addon tooltipfield" data-toggle="tooltip" data-placement="right" title="Your project name should be clear and concise as it is the first thing the provider sees. State exactly what you are looking for without going into unnecessary details. Ask yourself, what do I want done in 10 words or less?"><i class="fa fa-question fa-2x"></i></span>
            </div>
            <div class="form-group">
                <%=f.select :discipline, get_disciplines.values.unshift(""),{}, {class: "chosen-select form-control","data-placeholder"=>"Select Job Discipline",id: "disciplines"}%>
                <span class="badge default" data-placement="right" style="margin-left:65px;margin-right: -65px;" data-toggle="tooltip" title="Our goal is to connect you with providers that cater to your specific needs. Ask yourself, what type of expertise will serve me the best?"><i class="fa fa-question" ></i></span>
            </div>
            <div class="form-group sfield">
                <%=f.select :task, [],{},{id:"tasks", class: "skill-select sfield","data-placeholder"=>"  ",disabled:true,multiple:true}%>
                <label for="tasks" class="sfield" style="color: #D9DBDB;">Select your tasks</label>
            </div>
            <div class="form-group sfield">
                <%= f.collection_select :skill_ids,[],:id, :name, {},{"data-placeholder"=>"  ",class: "skill-select sfield",multiple:true,id: "skills",disabled:true}%>

                <label for="skills" class="sfield" style="color: #D9DBDB;">Select your required skills</label>
            </div>

            <div class="form-group">
                <%=f.select :goal,[],{},{"data-placeholder"=>"Select your primary goal",class: "skill-select", id:"goals",disabled:true}%>
            </div>
            <div class="form-group sfield input-group">
                <%=f.text_area :description,rows: 3,class: "form-control sfield", id:"jdfield"%>
                <label for="jdfield" class="sfield">Project Description</label>

                <span class="btn input-group-addon tooltipfield" data-toggle="tooltip" data-placement="right" title="To the extent you know what your project entails, please provide details. Make sure to be as specific as possible as this information helps the provider gauge whether or not they are best suited to complete the job. Ask yourself, what exactly do I need done?"><i class="fa fa-question fa-2x"></i></span>
            </div>
            <div class= "form-group sfield input-group">
                <%if @parentclient.use_desc%>

                    <%=f.text_area :description, rows: 3, class: "form-control sfield", id: "jbdfield",value: @parentclient.description%>
                <%else%>
                    <%=f.text_area :description, rows: 3, class: "form-control sfield", id: "jbdfield"%>
                <%end%>
                <label for="jbdfield" class="sfield">Business Description</label>
                <span class="btn input-group-addon tooltipfield" data-toggle="tooltip" data-placement="right" title="It’s helpful for the provider to know a little bit about your company and the industry it operates in. Ask yourself, what does my company do?"><i class="fa fa-question fa-2x"></i></span>
            </div>

            <%=render partial: "jobs/samplejobs"%>
            <div class="form-group">
                <%if @job.mockups==nil or @job.mockups.to_s=="/mockups/original/missing.png"%>
                    <%= f.file_field :mockups, id: "mockup-upload"%>
                    <span type="button" class="btn btn-default btn-file">Upload Mockups</span>
                    <span class="insert-prev"></span>
                <%else%>
                    <%= f.file_field :mockups, {id: "mockup-upload",class: "gotFile"}%>
                    <span type="button" class="btn btn-default btn-file">Upload Mockups
                        <span></span>
                        <span style="color: rgb(161, 196, 54);" class="fa fa-check"></span>
                    </span>
                    <span type='button' class='btn btn-default prev-btn' data-toggle='modal' data-target='#mockups-prev'></span>
                <%end%>

            </div>

            <%=render partial: 'jobs/mockups',:locals=>{mockup_url: @job.mockups.to_s}%>
            <div class="form-group">
                <input type="button" name="next" class="next action-button" value="Next" />
            </div>

        </fieldset>










        <fieldset class="sf">           
            <div class="form-group">
                <legend>
                    <span>Provider Details</span>
                </legend>
            </div>

            <div class="form-group">
                <%=f.label :expreq, "Do you require experience in this specific discipline?"%><span data-toggle="tooltip" data-placement="right" title="The best way to become an expert in any field is to learn while on the job. Ask yourself, what is the minimum amount of experience I would feel comfortable with my provider having in this discipline?"style="margin-left: 18px;"class="btn badge default"><i class="fa fa-question fa-1x"></i></span>
                <ul id="oneliner">
                    <li>
                    <%=f.select :expreq, ["No","Yes"], {},class: "exp-req",id: "exp-req"%>
                    </li>
                    <li class="insert-atleast"></li>
                    <li><%=f.select :years_req, 1..10, {}, class: "", id: "years_req"%></li>
                    <li class="insert-years"></li>
                </ul>
            </div>
            <div class="form-group sfield">
                <span style="height:0px; width: 0px;" class="ranked"></span>
                <%= f.collection_select :idealattribute_ids,Idealattribute.order(:name),:id, :name, {},{"data-placeholder"=>"   ",class: "attribute-select sfield",multiple:true,id: "idealattributes"}%>
                <label for="idealattributes" class="sfield">Rank the most import qualities for your Provider</label>
            </div>
            <div class="form-group sfield input-group">
                <%=f.text_area :abilities, id: "abilities",class: "tooltipfield form-control sfield" %>
                <label for="abilities" class="sfield">Additonal Knowledge and Abilities</label>
                <span class="btn input-group-addon tooltipfield" data-toggle="tooltip" data-placement="right" title="It’s important to list all of the abilities and knowledge you feel your provider will need in order to complete your project to satisfaction. Be as specific as you can. You don’t want to find out at a later date that your provider doesn’t have an ability that is critical to your project."><i class="fa fa-question fa-2x"></i></span>
            </div>
            <div class="form-group">
                <%=f.label :transaction_frequency, "How often would you like to interact with your provider?"%>
                <br/>
                <%=f.select :transaction_frequency, [["Every Day", 31], ["2-3 times per week",10],["Once per week",4],["Once per month",1]], class: "transfreq"%>
            </div>

            <div class="form-group">
                <input type="button" name="previous" class="previous action-button" value="Previous" />
                <input type="button" name="next" class="next action-button" value="Next" />
            </div>
        </fieldset>










        <fieldset class="sf">
            <div class="form-group">
                <legend>
                    <span>Job Timeline</span>
                </legend>
            </div>
            <div class="form-group">
                <label for="jobdates">Please select your your start date and deadline</label>
                <br/>
                <%=f.hidden_field :startdate, id: "startdatehidden"%>
                <%=f.hidden_field :deadline, id: "enddatehidden"%>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" id="jobdates" class="form-control notme"/>
                </div>
            </div>


            <div class="form-group">
                <input type="button" name="previous" class="previous action-button" value="Previous">
                <input type="button" name="next" class="next action-button" value="Next">
            </div>

        </fieldset>











        <fieldset class="sf">
            <div class="form-group">
                <legend>
                    <span>Provider Tier</span>
                </legend>
            </div>
            <div style="margin-bottom:0 auto 20 auto; width: 100%;">
                <p style="margin: auto;width:750px;white-space:normal;">Based on your job details,
                we estimate that your project will take approximately 20 hours to complete. We’ve used this estimate to give you a sense of the project costs in each of the corresponding provider tiers below. Please specify your budget.<p>
            </div>
            <div class="slider-wrapper">
                <div id="slider-left">
                    <div name="job[budget]" id="slider-vertical" style="height:345px;"></div>
                </div>
                <div id="slider-right">
                    <div class="tier-wrap">
                        <!--
                        <div class="show-group" id="tier3">
                            <h1>Tier 3</h1>
                            <p>Providers in this tier are the "best of the best," consistently receiving stellar client reviews. You won't find better talent on the site, or anywhere for that matter!</p>
                            <span class="btn fa fa-chevron-right fa-5x" data-toggle="modal" data-target="#tier3-prev"></span>
                        </div>-->
                    </div>
                    <div class="tier-wrap">
                        <div class="show-group" id="tier2"> 
                            <h1>Tier 2</h1>
                            <p>Providers in this tier are the "best of the best," consistently receiving stellar client reviews. You won't find better talent on the site, or anywhere for that matter!</p>

                            <!--<p>Providers in this tier are very experienced, having provided excellent client work enabling them to graduate through two tiers.</p>-->
                            <span class="btn fa fa-chevron-right fa-5x" data-toggle="modal" data-target="#tier2-prev"></span>
                        </div>
                    </div>
                    <div class="tier-wrap">
                        <div class="show-group" id="tier1">
                            <h1>Tier 1</h1>
                            <p>Providers in this tier have completed at least 5 jobs and have graduated from the Testing Ground and entered the general rankings.</p>
                            <span class="btn fa fa-chevron-right fa-5x" data-toggle="modal" data-target="#tier1-prev"></span>

                        </div>
                    </div>
                    <div class="tier-wrap">
                        <div class="show-group" id="tier0">
                            <h1>Testing Ground</h1>
                            <p class="compressed">Providers in this tier are new to the site and are working hard to move up in the tiers.</p>

                            <span class="btn fa fa-chevron-right fa-5x" data-toggle="modal" data-target="#tier0-prev"></span>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
                <%=render partial: 'jobs/tier3'%>
                <%=render partial: 'jobs/tier2'%>
                <%=render partial: 'jobs/tier1'%>
                <%=render partial: 'jobs/tier0'%>

            </div>
            <div class="form-group">
                <input type="button" name="previous" class="previous action-button" value="Previous">
            </div>
        </fieldset>










        <fieldset class="sf">

            <div class="form-group">
                <legend>
                    <span>When do you want to advertise your job to Our Engine</span>
                </legend>
            </div>
            <p>You have submitted your job after normal business hours which reduces the likelihood of finding the best freelancer for the job. Would you like to schedule another time?</p>
            <div class="form-group">
                <div class="input-group clockpicker center">
                    <%= f.text_field :posttime, class: 'form-control notme', value: '9:00AM'%>

                    <span class=" input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                </div>
            </div>
            <p>Based on your local time zone, we recommend posting the job at <%="9:00AM"%></p>

            <input type="button" name="previous" class="previous action-button" value="Previous">
            <%=f.submit "Submit Job", class: "action-button"%>
        </div>
    </fieldset>
    <%= render partial: 'pagehelp',:locals=>{url: ""}%>
<%end%>
    </div>


    <script>
        $(".skill-select").chosen({width: "400px"});
        $(".attribute-select").chosen({width:"400px"}).change(function (event) {
            var target = $(event.target),
            currentDataSet = target.val();
            if($(this).parent().find('.chosen-choices').children().length==2&&currentDataSet==null) {
                $(this).parent().find('label').removeClass('focussed');
                $(this).parent().find('label').children().stop(true).each(function(i){
                    $(this).delay(0).animate({top: 0+"px"}, 300, 'easeOutBack');
                });

                } else if(!$(this).parent().find('label').hasClass('focussed')) {
                $(this).parent().find('label').addClass("focussed").children().stop(true).each(function(i){
                    $(this).delay(0).animate({top: -25+"px"}, 300, 'easeOutBack');
                });
            }
        });
        $(".flp .chosen-container-multi").each(function(){
            if($(this).attr('id')=='idealattributes_chosen') {
                if($(this).val()!=""){
                    $(this).next().css("top","-25px");
                    $(this).next().addClass("focussed");
                    $(this).next().addClass("preset");
                }
                var sop = '<span class="ch">';
                    var scl = '</span>';
                $(this).next().html(sop + $(this).next().html().split("").join(scl+sop) + scl);
                $(".ch:contains(' ')").html("&nbsp;");
            }
        });

        $(".chosen-select").chosen({width: "220px"});
        $("#years_req").hide();
        $(".exp-req").change(function() {
            if($(this).val()=="Yes"){
                $("#years_req").show();
                $(".insert-atleast").html("<li><span class='killme'>At least</span></li>");
                $(".insert-years").html("<li><span class='killme killyear'>year</li>");
                }
                else{
                    $('#years_req').hide();
                    $(".killme").remove();
                }
            });
            $("#years_req").change(function() {
                if($(this).val()==1){
                    $(".killyear").text("year");
                }
                else {
                    $('.killyear').text("years");
                }
            });
            $("#disciplines").change(function() {
                if($(this).val()!= ""){
                    $(this).data('discipline',$(this).val());
                    $(this).closest(".jaxForm").find("#whichprev").data('previd','setdiscipline');
                    uploadFile($(this).val(),$(this).attr('name'),$(this).closest('.jaxForm').attr('action'),null,null,false,"POST");
                }
            });
        </script>
