<div id="createsheet3" class="center">
    <%=nested_form_for [current_user,@job], :html=> {:class=> 'jaxForm form-horizontal flp', :role=>'form',:id=>"j-create"},:method=>"POST" do |f|%>
        <ul id="progressbar" class="p4">
            <li class="active">Job Details</li>
            <li>Job Timeline</li>
            <li>Provider Tier</li>
            <li>Post Job</li>
        </ul>
        <fieldset class="sf">
            <div class="form-group">
                <legend>Job Details</legend>
            </div>
            <div class="form-group sfield input-group">
                <%=f.text_field :name, id: "jobname",class: "tooltipfield form-control sfield" %>
                <label for="jobname" class="sfield">Project Name</label>
                <span class="btn input-group-addon tooltipfield" data-toggle="tooltip" data-placement="right" title="Your project name should be clear and concise as it is the first thing the provider sees. State exactly what you are looking for without going into unnecessary details. Ask yourself, what do I want done in 10 words or less?"><i class="fa fa-question fa-2x"></i></span>
            </div>
            <div class="form-group">
                <%=f.select :discipline, get_disciplines.values.unshift(""),{}, {class: "chosen-select form-control","data-placeholder"=>"Select Discipline",id: "disciplines"}%>
            </div>
            <div class="form-group">
                <%=f.select :task, get_tasks_by_discipline("").unshift(""),{},{id:"tasks", class: "chosen-select","data-placeholder"=>"Select Task"}%>
            </div>
            <div class="form-group">
                <%= f.collection_select :skill_ids,Skill.order(:name),:id, :name, {},{"data-placeholder"=>"Select required skills",class: "skill-select",multiple:true,id: "skills"}%>
            </div>

            <div class="form-group sfield input-group">
                <%=f.text_area :description,rows: 3,class: "form-control sfield", id:"jdfield"%>
                <label for="jdfield" class="sfield">Briefly describe your project</label>

                <span class="btn input-group-addon tooltipfield" data-toggle="tooltip" data-placement="right" title="To the extent you know what your project entails, please provide details. Make sure to be as specific as possible as this information helps the provider gauge whether or not they are best suited to complete the job. Ask yourself, what exactly do I need done?"><i class="fa fa-question fa-2x"></i></span>
            </div>
            <%=render partial: "jobs/samplejobs"%>
            <div class="form-group">
                <%if @job.mockups==nil or @job.mockups.to_s=="/mockups/original/missing.png"%>
                    <%= f.file_field :mockups, id: "mockup-upload"%>
                    <span type="button" class="btn btn-default btn-file">Upload Mockups</span>
                    <span class="insert-prev"></span>
                <%else%>
                    <%= f.file_field :mockups, {id: "mockup-upload",class: "gotFile"}%>
                    <span type="button" class="btn btn-default btn-file">Upload Mockups
                        <span></span>
                        <span style="color: rgb(161, 196, 54);" class="fa fa-check"></span>
                    </span>
                    <span type='button' class='btn btn-default prev-btn' data-toggle='modal' data-target='#mockups-prev'></span>
                <%end%>

            </div>

            <%=render partial: 'jobs/mockups',:locals=>{mockup_url: @job.mockups.to_s}%>
            <div class="form-group">
                <%=f.label :expreq, "Do you require experience in this specific discipline?"%>
                <ul id="oneliner">
                    <li>
                        <%=f.select :expreq, ["No","Yes"], {},class: "exp-req",id: "exp-req"%>
                    </li>
                    <li class="insert-atleast"></li>
                    <li><%=f.select :years_req, 1..10, {}, class: "", id: "years_req"%></li>
                    <li class="insert-years"></li>
                </ul>
            </div>
            <div class="form-group sfield">
                <%=f.text_field :question, id: "jobq", class: "form-control sfield"%>
                <label for="jobq" class="sfield">Ask your provider a specific question?</label>
            </div>
            <div class="form-group">
                <input type="button" name="next" class="next action-button" value="Next" />
            </div>

        </fieldset>
        <fieldset class="sf">
            <div class="form-group">
                <legend>Job Timeline</legend>
            </div>
            <div class="form-group">
                <label for="jobdates">Please select your your start date and deadline</label>
                <br/>
                <%=f.hidden_field :startdate, id: "startdatehidden"%>
                <%=f.hidden_field :deadline, id: "enddatehidden"%>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    <input type="text" id="jobdates" class="form-control notme"/>
                </div>
            </div>
            <div class="form-group">
                <%=f.label :transaction_frequency, "How many times a week would you like to interact with your provider?"%>
                <br/>
                <%=f.select :transaction_frequency, 1..7, class: "transfreq"%>
            </div>


        <div class="form-group">
            <input type="button" name="previous" class="previous action-button" value="Previous">
            <input type="button" name="next" class="next action-button" value="Next">
        </div>

    </fieldset>
    <fieldset class="sf">
        <div class="show-group">
            <legend>Provider Tier</legend>
        </div>
        <div style="margin-bottom:0 auto 20 auto; width: 100%;">
            <p style="margin: auto;width:750px;white-space:normal;"> Please specify your budget and we will indicate the corresponding tier of providers. Bear in mind that all of our providers have been individually vetted.<p>
        </div>
        <div class="slider-wrapper">
            <div id="slider-left">
                <div name="job[budget]" id="slider-vertical" style="height:460px;"></div>
            </div>
            <div id="slider-right">
                <div class="tier-wrap">
                    <div class="show-group" id="tier3">
                        <h1>Tier 3</h1>
                        <p>Providers in this tier are the "best of the best," consistently receiving stellar client reviews. You won't find better talent on the site, or anywhere for that matter!</p>
                        <span class="btn fa fa-chevron-right fa-5x" data-toggle="modal" data-target="#tier3-prev"></span>
                    </div>
                </div>
                <div class="tier-wrap">
                    <div class="show-group" id="tier2"> 
                        <h1>Tier 2</h1>
                        <p>Providers in this tier are very experienced, having provided excellent client work enabling them to graduate through two tiers.</p>
                        <span class="btn fa fa-chevron-right fa-5x" data-toggle="modal" data-target="#tier2-prev"></span>
                    </div>
                </div>
                <div class="tier-wrap">
                    <div class="show-group" id="tier1">
                        <h1>Tier 1</h1>
                        <p>Providers in this tier have completed at least 5 jobs and have graduated from the Testing Ground and entered the general rankings.</p>
                        <span class="btn fa fa-chevron-right fa-5x" data-toggle="modal" data-target="#tier1-prev"></span>

                    </div>
                </div>
                <div class="tier-wrap">
                    <div class="show-group" id="tier0">
                        <h1>Testing Ground</h1>
                        <p class="compressed">Providers in this tier are new to the site and are working hard to move up in the tiers.</p>

                        <span class="btn fa fa-chevron-right fa-5x" data-toggle="modal" data-target="#tier0-prev"></span>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <%=render partial: 'jobs/tier3'%>
            <%=render partial: 'jobs/tier2'%>
            <%=render partial: 'jobs/tier1'%>
            <%=render partial: 'jobs/tier0'%>

        </div>
        <div class="form-group">
            <input type="button" name="previous" class="previous action-button" value="Previous">
        </div>
    </fieldset>
    <fieldset class="sf">
        <div class="form-group">
            <legend>Tell us when you want to advertise your job to Our Engine</legend>
        </div>
        <p>You have submitted your job after normal business hours which reduces the likelihood of finding the best freelancer for the job. Would you like to schedule another time?</p>
        <div class="form-group">
            <div class="input-group clockpicker center">
                <%= f.text_field :posttime, class: 'form-control notme', value: '9:00AM'%>

                <span class=" input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>
        </div>
        <p>Based on your local time zone, we recommend posting the job at <%="9:00AM"%></p>

        <input type="button" name="previous" class="previous action-button" value="Previous">
        <%=f.submit "Submit Job", class: "action-button"%>
    </div>
</fieldset>
        <%end%>
    </div>
    <script>
        $(".skill-select").chosen({width:"600px"});
        $(".chosen-select").chosen({width: "220px"});
        $("#years_req").hide();
        $(".exp-req").change(function() {
            if($(this).val()=="Yes"){
                $("#years_req").show();
                $(".insert-atleast").html("<li><span class='killme'>At least</span></li>");
                $(".insert-years").html("<li><span class='killme killyear'>year</li>");
            }
            else{
                $('#years_req').hide();
                $(".killme").remove();
            }
        });
        $("#years_req").change(function() {
            if($(this).val()==1){
                $(".killyear").text("year");
            }
            else {
                $('.killyear').text("years");
            }
        });
        $("#skills,#tasks").prop("disabled",true).trigger("chosen:updated");
        $("#disciplines").change(function() {
            if($(this).val()!= ""){
                $(this).data('discipline',$(this).val());
                $("#skills,#tasks").empty();
                switch($(this).val()){
                    case "Marketing Strategy":
                    $.each(
                    {"MS Task 1":"MS Task 1", "MS Task 2":"MS Task 2", "MS Task 3":"MS Task 3"},
                    function(key,value) {
                        $("#tasks").append($("<option></option>").val(key).text(value));
                    });
                    $.each(
                    {"MS Skill 1":"MS Skill 1","MS Skill 2":"MS Skill 2","MS Skill 3":"MS Skill 3"},
                    function(key,value) {
                        $("#skills").append($("<option></option>").val(key).text(value));
                    });

                    break;
                    case "Email Marketing":
                    $.each(
                    {"EM Task 1":"EM Task 1", "EM Task 2":"EM Task 2", "EM Task 3":"EM Task 3"},
                    function(key,value) {
                        $("#tasks").append($("<option></option>").val(key).text(value));
                    });
                    $.each(
                    {"EM Skill 1":"EM Skill 1","EM Skill 2":"EM Skill 2","EM Skill 3":"EM Skill 3"},
                    function(key,value) {
                        $("#skills").append($("<option></option>").val(key).text(value));
                    });

                    break;
                    case "Paid Search":
                    $.each(
                    {"PS Task 1":"PS Task 1", "PS Task 2":"PS Task 2", "PS Task 3":"PS Task 3"},
                    function(key,value) {
                        $("#tasks").append($("<option></option>").val(key).text(value));
                    });
                    $.each(
                    {"PS Skill 1":"PS Skill 1","PS Skill 2":"PS Skill 2","PS Skill 3":"PS Skill 3"},
                    function(key,value) {
                        $("#skills").append($("<option></option>").val(key).text(value));
                    });

                    break;
                    case "Affiliate Marketing":
                    $.each(
                    {"AM Task 1":"AM Task 1", "AM Task 2":"AM Task 2", "AM Task 3":"AM Task 3"},
                    function(key,value) {
                        $("#tasks").append($("<option></option>").val(key).text(value));
                    });
                    $.each(
                    {"AM Skill 1":"AM Skill 1","AM Skill 2":"AM Skill 2","AM Skill 3":"AM Skill 3"},
                    function(key,value) {
                        $("#skills").append($("<option></option>").val(key).text(value));
                    });

                    break;
                    case "SEO":
                    $.each(
                    {"SEO Task 1":"SEO Task 1", "SEO Task 2":"SEO Task 2", "SEO Task 3":"SEO Task 3"},
                    function(key,value) {
                        $("#tasks").append($("<option></option>").val(key).text(value));
                    });
                    $.each(
                    {"SEO Skill 1":"SEO Skill 1","SEO Skill 2":"SEO Skill 2","SEO Skill 3":"SEO Skill 3"},
                    function(key,value) {
                        $("#skills").append($("<option></option>").val(key).text(value));
                    });

                    break;
                    case "Social Media":
                    $.each(
                    {"SM Task 1":"SM Task 1", "SM Task 2":"SM Task 2", "SM Task 3":"SM Task 3"},
                    function(key,value) {
                        $("#tasks").append($("<option></option>").val(key).text(value));
                    });
                    $.each(
                    {"SM Skill 1":"SM Skill 1","SM Skill 2":"SM Skill 2","SM Skill 3":"SM Skill 3"},
                    function(key,value) {
                        $("#skills").append($("<option></option>").val(key).text(value));
                    });

                    break;


                }
                $("#skills,#tasks").prop("disabled",false).trigger("chosen:updated");
            }
        });
    </script>
