<div id="createsheet4" class="center">
    <div class="form-group">
        <legend style="padding-bottom:10px; padding-top:10px;">
            <span>Select a Provider</span>
            <button class="btn btn-primary" id="reorder" style="margin-right:-662px!important; margin-left:462px!important;" data-toggle="tooltip" data-placement="right" title="Toggle our algorithm driven ordering of your four best providers in <%=tiername(@job.tier)%>.">Order by Quomp Ranking</button>
        </legend>
    </div>
    <%@providerlist[0].each_with_index do |provider, i|%>
        <div class="pane" id="<%='p'+@providerlist[1][i].to_s%>">
            <p class="rankdisplay" style="left:10px; bottom: 0px;">Ranking is  <%=@providerlist[1][i].to_s%></p>
            <%= image_tag provider.avatar.url(:small), class: "show-prof img-circle",width: 200, height: 200%>
            <%[provider.name,provider.city.titleize+", "+provider.state,provider.ptype.titleize].each do |text|%>
                <p align="left" style="margin-bottom:0px;"><%=text%></p>
            <%end%>
            <div style="height:100px;overflow:hidden;">
                <p align="left"><%='"'+clamp(provider.description.strip)+'"'%></p>
            </div>
            <hr/>
            <table>
            </table>
            <table cellspacing="5" cellpadding="5">
                <tr>
                    <td valign="top"><b>Projects Completed:</b></td>
                    <td></td>
                    <td><%=provider.jobs.where(:discipline=>@job.discipline).size%></td>
                </tr>
                <tr>
                    <td valign="top"><b>Projects Completed in Discipline:</b></td>
                    <td></td>
                    <td><%=provider.jobs.size%></td>
                </tr>

                <%get_idealattributes.each do |attribute|%>
                    <tr><td valign="top" align="right"><b><%=attribute+":"%></b></td><td></td><td><div class="ratingwrap"><div style="width:<%=16*eval("provider.provider_meta.#{attribute.split[0].downcase}")%>px;" class="rating"><span><%=eval("provider.provider_meta.#{attribute.split[0].downcase}").round(1)%></span></div></div></td></tr>
                <%end%>
            </table>
            <br/>
            <div style="margin: auto" align="center">
                <span class="btn btn-primary" data-toggle="modal" id="whyb<%=i%>"data-target="#whymodal<%=i%>">View Full Profile</span>
                <%= link_to 'Award Job', '#', :onclick => "window.location='#{save_provider_client_job_path(:prov_id=> provider.id)}'", :class=> 'btn btn-primary'%>
            </div>
            <%= render partial: 'jobs/why',locals: {provider: provider, job: @job, num: i}%>
            <%if provider.resume.to_s.split('/')[-1]!="missing.png"%>
                <%=render partial: 'providers/resume', :locals=>{:resume_url=> provider.resume.to_s,:ptype=>provider.ptype,:j_select=>true, :num=>num}%>
            <%end%>

        </div>
    <%end%>

    <div class="form-group" style="margin-top:870px!important;">
        <span class="btn btn-primary" id="statbutton" data-toggle="modal" data-target="#statistics">Full Analysis</span>
    </div>

    <%=render partial: "jobs/statistics",locals: {providers: @providerlist, job: @job}%>
</div>
<script>
    $("#reorder").tooltip({});
</script>
