<% provide(:title, "Edit Provider") %>
<div id="editprovider">
    <div class="row">
        <aside class="span4">
        <section>
        <img src=<%= @user.avatar.url(:small) %> id="prof" class= "img-circle"/>
        <h1> 
            <%= @user.name %>
        </h1>
        </section>
        </aside>
    </div>
    <div id='usereditform'>
        <%= form_for(@user) do |f| %>
            <div class="form-group">
                <%= f.label :avatar%>
                <%= f.file_field :avatar%>
            </div>
            <div class="form-group">
                <%= f.label :industry%>
                <%= f.select :industry, [['Please select an industry',nil],'Professional Services','Graphic Design','Marketing','Web Development'], class: 'form-control'%>
            </div>
            <div class= "form-group">
                <%= f.text_field :city, class: 'form-control', autofocus: true, placeholder: 'City'%>
            </div>
            <div class="form-group">
                <%= f.label :state%>
                <%= f.select :state, options_for_select(us_states, "CA"), class: 'form-control'%>
            </div>
            <div class="form-group">
                <%= f.text_field :website, class: 'form-control', autofocus: true, placeholder: 'Website (if applicable)'%>
            </div>
            <div class= "form-group">
                <%= f.text_field :description, class: 'form-control', id: 'dfield', autofocus:true,placeholder: 'Description' %>
            </div>
            <div class= "form-group">
                <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
            </div>
        </div>
    <% end%>
</div>
</div>
