<% provide(:title, "Edit Provider") %>
<div class="row">
    <aside class="span4">
        <section>
        <img src=<%= @user.avatar.url(:small) %> id="prof" class= "img-circle"/>
        <h1> 
            <%= @user.name %>
        </h1>
        </section>
    </aside>
</div>
<div>
<%= form_for(@user) do |f| %>
    <div class="form-group">
        <%= f.label :industry%>
        <%= f.select :industry, [['Please select an industry',nil],'Professional Services','Graphic Design','Marketing','Web Development'], class: 'form-control'%>
        </div>
        <div class= "form-group">
            <%= f.label :city
            <%= f.text_field :city, class: 'form-control', autofocus: true, placeholder: 'City'%>
        </div>
        <div class="form-group">
        <%= f.select :state, options_for_select(us_states, "CA"), class: 'form-control'%>
        </div>
    </div>
    <% end>
</div>
