<% provide(:title, "Edit Client") %>
<div id="createsheet2" class="center">
    <%= form_for @client, :html=> {:class=> 'form-horizontal flp', :role=>'form',:id=>"c-edit"} do |f|%>
        <%= render 'shared/error_messages'%>

        <fieldset>

            <legend>Client Details</legend>
            <table style="margin:auto;">
                <tr>
                    <td>
                        <div id="preview2">
                            <img src=<%= @client.avatar.url(:small) %> id="prof" class= "img-circle" width="200" height="200"/>
                        </div>
                    </td>
                    <td style="width: 12px;"></td>
                    <td>
                        <ul>
                            <li>
                            <h1><%=@client.name.titleize%></h1>
                            </li>
                        </ul>
                    </td>
                </tr>
            </table>
            <div class="quick-align">
                <%if @client.avatar==nil or @client.avatar.to_s=="/assets/missing_original.png"%>
                    <%= f.file_field :avatar, id: "avatar-upload2"%>
                    <span type="button" class="btn btn-default btn-file picup">Upload Image</span>
                <%else%>
                    <%= f.file_field :avatar, {id: "avatar-upload2",class: "gotFile"}%>
                    <span type="button" class="btn btn-default btn-file picup">Upload Image<span/>
                    <span style="color: rgb(161, 196, 54);" class="fa fa-check"/>
                    </span>
                <%end%>
            </div>
            <br></br>
            <br></br>
            <div class= "form-group sfield">
                <ul id="oneliner" class="citystate">
                    <li>
                    <%= f.text_field :city, class: 'form-control sfield',id:'city', autofocus: true, required: true%>
                    <label for="city" class="sfield">City</label>
                    </li>
                    <li>
                    <%= f.select :state, us_states.unshift(""),{}, {class: "chosen-select","data-placeholder"=> "Select State"}%>
                    </li>
                </ul>
            </div>
            <div class="form-group">
                <%= f.select :industry, get_industries.unshift(""),{}, {class: "chosen-select","data-placeholder"=>"Select Industry"}%>
            </div>
            <div class="form-group sfield">
                <%= f.text_field :website, class: 'form-control sfield',id: 'site'%>
                <label for="site" class="sfield">Website</label>
            </div>
            <div class= "form-group sfield">
                <%= f.text_area :description, class: 'form-control sfield', id: 'dfield', :cols=>"30", :rows=>"4",required: true%>
                <label for="dfield" class="sfield">Brief Bio</label>
            </div>
            <div class= "form-group">
                <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
            </div>
        </fieldset>
    <% end%>
</div>

