<%provide(:title, @client.name) %>

<div id="ProfilePage">
    <div id="LeftCol">
        <div id="Photo">
            <%= image_tag @client.avatar.url(:medium), id: "prof", class: "img-circle"%>
        </div>
        <div id="ProfileOptions">
            <ul id="namelist">
                <li>
                <h1> 
                    <%= @client.name.titleize %>
                </h1>
                </li>

                <% if user_signed_in? %> 
                    <li>
                    <button type="button" id= 'profilebutton' class="btn btn-default"><%=link_to "Edit Profile", edit_client_path(current_user.id)%></button>
                    </li>
                    <li>
                    <button type="button" id= 'profilebutton' class="btn btn-default"><%=link_to "Edit Registration", edit_client_registration_path(current_user.id)%></button>
                    </li>
                <%end%>
            </ul>
        </div>
    </div>
    <div id="Info">
        <p>
        <strong>Ranking:</strong>
        <button id="rankbutton" class= "btn btn-primary"><span type="btn btn-primary"> 9.2 / 10 </span></button>
        </p>
        <legend> Details</legend>
        <p>
        <span><%=@client.email%></span>
        </p>
        <p>
        <span><%=@client.city%>, <%=@client.state%></span>
        </p>
        <p>
        <span><%=link_to @client.website, 
            'http://www.'+@client.website%></span>
        </p>
        <p>
        <legend>Description</legend>
        <span><%=@client.description%></span>
        </p>


    </div>


    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>
<div class='center'>
    <button type="button" id = "jobbutton"class="btn btn-default"><%= link_to "Post A Job", new_client_job_path(current_user.id)%></button>
</div>

