<%provide(:title, @client.name) %>

<div id="ProfilePage">
    <div id="LeftCol">
        <div id="Photo">
            <%= image_tag @client.avatar.url(:medium), id: "prof", class: "img-circle"%>
        </div>
        <div id="ProfileOptions">
            <ul id="namelist">
                <li>
                <h1> 
                    <%= @client.name.split.map(&:capitalize).join(' ') %>
                </h1>
                </li>
                <li>
                <button type="button" id= 'profilebutton' class="btn btn-default"><%=link_to "Edit Profile", edit_client_path(current_user.id)%></button>
                </li>
                <li>
                <button type="button" id= 'profilebutton' class="btn btn-default"><%=link_to "Edit Registration", edit_client_registration_path%></button>
                </li>
            </ul>
        </div>
    </div>

    <div id="Info">
        <p>
        <strong>Ranking:</strong>
        <button id="rankbutton" class= "btn btn-primary"><span type="btn btn-primary"> 9.2 / 10 </span></button>
        </p>
        <p>
        <strong>Email:</strong>
        <span><%=@client.email%></span>
        </p>
        <p>
        <strong>City:</strong>
        <span><%=@client.city%></span>
        </p>
        <p>
        <strong>State:</strong>
        <span><%=@client.state%></span>
        </p>
        <p>
        <strong>Website:</strong>
        <span><%=link_to linkerate(@client.website), 
            'http://www.'+linkerate(@client.website)%></span>
        </p>
        <p>
        <strong>Bio:</strong>
        <span><%=@client.description%></span>
        </p>
        

    </div>


    <!-- Needed because other elements inside ProfilePage have floats -->
    <div style="clear:both"></div>
</div>
<div class='center'>
    <button type="button" id = "jobbutton"class="btn btn-default"><%= link_to "Post A Job", new_client_job_path(current_user.id)%></button>
</div>

