<%provide(:title, @client.name) %>

<div class="profile">
    <div id="main-left">
        <fieldset>
            <legend>Company Details</legend>
            <div class="details-left">
                <%= image_tag @client.avatar.url(:small), class: "show-prof img-circle",width: "200px", height: "200px"%>

            </div>
            <div class="details-right">
                <div class="show-group">
                    <p><%= @client.name.titleize%></p>
                </div>
                <div class="show-group">
                    <p>
                    <%if !(@client.city.nil? or @client.city.empty?) and !@client.state.nil?%>
                        <span><%=@client.city%>, <%=@client.state%></span>
                    <%else%>
                        <span<%=(@client.state||@client.city)%></span>
                    <%end%>
                    </p>
                </div>
                <div class="show-group">
                    <p>
                    <%=link_to linkerate(@client.website), 
                        'http://www.'+linkerate(@client.website)%></p>
                    </div>
                    <div class="show-group">
                        <p><%= (@client.industry||"").titleize%></p>
                    </div>

                </div>
            </fieldset>
            <fieldset>
                <legend>Company Description</legend>
                <div class="show-group">
                    <p><%=@client.description%></p>
                </div>
            </fieldset>
            <fieldset>
                <legend>Testimonials</legend>
                <%unless @client.client_meta.testimonial.empty?%>
                    <%@client.client_meta.testimonial.each do |testimonial|%>
                        <p><%=testimonial%>
                    <%end%>
                <%else%>
                    <p> You do not have any testimonials yet.</p>
                <%end%>
            </fieldset>

        </div>
        <div id="main-right">
            <fieldset>
                <legend>Project Statistics</legend>
                <table cellpadding="10">
                    <tr><td valign="top"><b>#Projects </b></td><td><%=@client.jobs.to_a.length%></td></tr>
                    <tr><td valign="top"><b>Member Since</b></td><td><%=Date.strptime(@client.created_at.to_s,"%Y-%m-%d %H:%M:%S %Z").strftime("%m/%d/%Y")%></td></tdr> 
                </table>
            </fieldset>
            <fieldset>
                <legend><span>Client Score</span><span style="margin-bottom:-7px;margin-left:+20px;margin-right:-20px;" class="badge btn-social-icon" data-toggle="tooltip" data-placement="right" title= "The client score is a measurement of the ratings that providers have given you on past projects. The higher your client score, the higher your chances of being matched with the best providers"><i class="fa fa-question fa-2x"></i></span></legend>

                <%unless @client.client_meta.overall.nil?%>
                    <table cellspacing="5" cellpadding="5">
                        <tr><td valign="top"><b>Across All Jobs</b></td><td></td><td>
                                <%(1..@client.client_meta.overall.divmod(1)[0]).each do |n|%>
                                    <i class="fa fa-star fa-lg"></i>
                                <%end%>
                                <%if @client.client_meta.overall.divmod(1)[1] >0%>
                                    <i class="fa fa-star-half-full fa-lg"></i>
                                <%end%>
                                <%(1..(5-@client.client_meta.overall.ceil)).each do |n|%>
                                    <i class="fa fa-star-o fa-lg"></i>
                                <%end%>
                            </td>
                        </tr>
                    </table>
                <%else%>
                    <p>You have not yet been scored by any providers. After you complete your first job, your client score will appear here.</P>
                <%end%>

            </fieldset>
            <fieldset>
<legend><span>Attribute  Scores</span><span style="margin-bottom:-7px;margin-left:+20px;margin-right:-20px;" class="badge btn-social-icon" data-toggle="tooltip" data-placement="right" title= "The attribute scores are a measurement of the ratings that providers have given you on each component of an engagement. A low attribute score represents an area for improvement."><i class="fa fa-question fa-2x"></i></span></legend>

                <%unless @client.client_meta.overall.nil?%>
                    <table cellspacing="5" cellpadding="5">
                        <%["Responsiveness","Expectations","Scope of Work","Professionalism","Likeability"].each do |attribute|%>
                            <tr><td valign="top" align="right"><b><%=attribute+":"%></b></td><td></td><td><div class="ratingwrap"><div style="width:<%=16*eval('@client.client_meta.'+attribute.gsub(/\s+/,'').downcase)%>px;" class="rating"></div></div></td></tr>
                        <%end%>
                    </table>
                <%else%>
                    <p> You have not yet been scored by any providers. After you complete your first job, your attribute scores for Responsiveness, Expectations, Scope of Work, Professionalism and Likeability will appear here.</p>
                <%end%>
            </fieldset>
        </div>
        <div class="clear"></div>
        <div class='center'>
            <button type="button" id = "jobbutton"class="btn btn-default"><%= link_to "Post A Job", new_client_job_path(current_user.id)%></button>
        </div>
        <div class="prof-buttons">
            <ul style="float:right; margin-top: -25px;">
                <% if user_signed_in? %> 
                    <li>
                    <button type="button"  class="btn btn-default"><%=link_to "Edit Profile", edit_client_path(current_user.id)%></button>
                    </li>
                    <li>
                    <button type="button" class="btn btn-default"><%=link_to "Edit Registration", edit_client_registration_path(current_user.id)%></button>
                    </li>
                <%end%>
            </ul>
        </div>
    </div>


