<%provide(:title, @client.name) %>

<div class="profile">
    <div id="main-left">
        <fieldset>
            <legend>Company Details</legend>
            <div class="details-left">
                <%= image_tag @client.avatar.url(:small), class: "show-prof img-circle",width: 200, height: 200%>

            </div>
            <div class="details-right">
                <div class="show-group">
                    <p><%= @client.name.titleize%></p>
                </div>
                <div class="show-group">
                    <p>
                    <%if !(@client.city.nil? or @client.city.empty?) and !@client.state.nil?%>
                        <span><%=@client.city%>, <%=@client.state%></span>
                    <%else%>
                        <span<%=(@client.state||@client.city)%></span>
                    <%end%>
                    </p>
                </div>
                <div class="show-group">
                    <p>
                    <%=link_to @client.website, 
                        'http://www.'+@client.website%></p>
                    </div>
                    <div class="show-group">
                        <p><%= @client.industry.titleize%></p>
                    </div>

                </div>
            </fieldset>
            <fieldset>
                <legend>Company Description</legend>
                <div class="show-group">
                    <p><%=@client.description%></p>
                </div>
            </fieldset>
        </div>
        <div id="main-right">
            <fieldset>
                <legend>Project Stats</legend>
                <table cellspacing="5" cellpadding="5">


                    <tr><td valign="top"><b>#Projects Completed</b></td><td></td><td>16</td></tr>

                    <tr><td valign="top"><b>#Projects Completed in Discipline</b></td><td></td><td>7</td></tr>

                </table>
            </fieldset>
            <fieldset>
                <legend>Provider Score</legend>
                <table cellspacing="5" cellpadding="5">
                    <tr><td valign="top"><b>Across All Jobs</b></td><td></td><td>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star fa-lg"></i>
                            <i class="fa fa-star-half-full fa-lg"></i>
                            <i class="fa fa-star-o fa-lg"></i>
                        </td>
                    </tr>
                </table>


            </fieldset>
            <fieldset>
                <legend>Attribute Scores</legend>
                <table cellspacing="5" cellpadding="5">


                    <tr><td valign="top"><b>Responsiveness</b></td><td></td><td>8/10</td></tr>

                    <tr><td valign="top"><b>Expectations</b></td ><td ></td><td>7/10</td></tr>
                    <tr><td valign="top"><b>Scope of Work</b></td><td></td><td>9/10</td></tr>
                    <tr><td valign="top"><b>Payment</b></td><td></td><td>7/10</td></tr>
                    <tr><td valign="top"><b>Professionalism</b></td><td></td><td>5/10</td></tr>
                    <tr><td valign="top"><b>Likeability</b></td><td></td><td>7/10</td></tr>


                </table>
            </fieldset>
        </div>
        <div class="clear"></div>
        <div class="prof-buttons">
            <ul>
                <% if user_signed_in? %> 
                    <li>
                    <button type="button" class= 'profilebutton' class="btn btn-default"><%=link_to "Edit Profile", edit_client_path(current_user.id)%></button>
                    </li>
                    <li>
                    <button type="button" class= 'profilebutton' class="btn btn-default"><%=link_to "Edit Registration", edit_client_registration_path(current_user.id)%></button>
                    </li>
                <%end%>
            </ul>
        </div>

    </div>
    <div class='center'>
        <button type="button" id = "jobbutton"class="btn btn-default"><%= link_to "Post A Job", new_client_job_path(current_user.id)%></button>
    </div>

