<div class="center jumbotron" id="hometownhero">
    <h3 id="slogan">At <strong id=logo2>Quomp</strong>, we've found a better way for emerging businesses
        to leverage the extended workforce. It is truly a "win-win" for all
        parties.</h3>
    <ul class = "list-inline dl-submenu" id="homebuttons">
        <li>
        <div>
            <small>Are you an individual or business 
                that needs help with a job?</small>
            <%if !user_signed_in?%>
                <%= link_to "Post a Job", new_client_registration_path, 
                    class: "btn btn-large btn-primary" %>
            <%elsif current_user.is_a? Client%>
                <%= link_to "Post a Job", new_client_job_path(current_user.id),
                    class: "btn btn-large btn-primary"%>
            <%else%>
                <%= link_to "Post a Job", '#',
                    class: "btn btn-large btn-primary", id: "needc"%>
            <%end%>
        </div>
        </li>
        <li>
        <div>    
            <small>Are you a freelancer or agency looking for more
                        work?</small>
            <%if !user_signed_in?%>
                <%= link_to "Join Our Engine", new_provider_registration_path, 
                    class: "btn btn-large btn-primary"%>
            <%elsif current_user.is_a? Provider%>
                <%= link_to "Join Our Engine", current_user,
                    class: "btn btn-large btn-primary"%>
            <%else%>
                <%= link_to "Join Our Engine", '#',
                    class: "btn btn-large btn-primary", id: "needp"%>
            <%end%>
        </div>
        </li>
    </ul>
</div>




