<header class = "navbar navbar-fixed-top navbar-inverse">
<div class = "container-fluid">
    <%= link_to "Quomp", root_url, id: "logo" %>
    <nav>
    <ul class="nav navbar-nav pull-right">
        <li class="divider"></li> 
        <%unless user_signed_in?%>
            <li class="dropdown">
            <button class="dropdown-toggle btn btn-default navbar-btn" href= "#" data-toggle="dropdown">Sign In<strong class="caret"></strong></button>
            <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                <%= form_for(:user, :url=>session_path(:user), :html=> {id: 'droplog'}) do |f|%>
                    <div class ="form-group">
                        <%= f.text_field :email, :placeholder =>"Email", class: "form-control" %>
                    </div>
                    <div class= "form-group">
                        <%= f.password_field :password, :placeholder =>"Password", class: "form-control"%>
                    </div>

                    <div class = "form-group">
                        <%= f.submit "Sign In", :class => "btn btn-large btn-primary" %>
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                    </div>
                    <%=link_to "Forgot your password?", new_password_path(:user)%>
                <% end %>
            </div>
            </li>
        <% else %>
            <li>
            <p class= "navbar-text navbar-left">Signed in as <%=current_user.name.titleize%></p>
            </li>
            <li>
            <%= link_to "Profile", current_user,class: 'navbar-link'%>
            </li>
            <li>
            <%= link_to "Sign Out", destroy_user_session_path, :method=> :delete,class: 'navbar-link'%>            
            </li>
        <%end%>
    </ul>
    </nav>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script></div>
</header>

