<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <title>Ruby on Rails App | <%=full_title(yield(:title))%></title>
        <%= stylesheet_link_tag 'application', { media: 'all','data-turbolinks-track'=>true}%>
        <%= javascript_include_tag :application,"nested_form",{'data-turbolinks-track'=>true} %>
        <%= csrf_meta_tags%>
    </head>
    <body>
        <div id="header">
            <%= render 'layouts/header' %>
        </div>
        <div id="content">
            <%= yield %> 
        </div>
        <div id="push" style="height:60px!important;"></div>
    </body>
</html>
